@using MyBlog.Web.ViewModels.Comment
@model CommentViewModel

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authService

@*_UserHeadPartial.cshtml*@
<div class="border border-primary p-2 my-2">
    <div id="js-userheadcomm-@(Model.AuthorsName)-@(Model.Id)" class="user-head  border-primary rounded">
    </div>
    <div class="bg-light rounded-3 px-3 py-1">
        <div class="text-muted d-block">
            @Model.Text
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div id="likeDiv">
            @if (User.Identity == null || !User.Identity.IsAuthenticated)
            {
                <span class="btn-label"><i class="fa fa-thumbs-up"></i></span>
            }
            else
            {
                @if (Model.IsLiked)
                {
                    <button class="btn btn-danger d-inline" type='button' id='likeBtn' data-isliked="1" data-commentid="@Model.Id">
                        <span class="btn-label"><i class="fa fa-thumbs-up"></i></span>
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary d-inline" type='button' id='likeBtn' data-isliked="0" data-commentid="@Model.Id">
                        <span class="btn-label"><i class="fa fa-thumbs-up"></i></span>
                    </button>
                }
            }
            <div id="likesCount" class="d-inline fw-bold">
                @Model.LikesCount
            </div>
        </div>
        <p class="fs-6 fw-light">
            @Model.Date
        </p>
        @if (User.Identity != null && User.Identity.IsAuthenticated
        && (User.Identity.Name == Model.AuthorsName 
        || User.Identity.Name == Model.PostAuthorsName
        || (await authService.AuthorizeAsync(User, "AdminPolicy")).Succeeded))
        {
            <div>
                <form onsubmit="return deleteCommentFunc(this, @Model.PostId , '@Model.PostAuthorsName')"
                  asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.Id" method='post'>
                    <input class="btn btn-link" type='submit' value='Delete comment' />
                </form>
            </div>
        }
    </div>
</div>
<script>
    $('#js-userheadcomm-' + '@(Model.AuthorsName)' + '-' + '@(Model.Id)').load("/User/UserHead?username=" + '@(Model.AuthorsName)');
</script>