@page "/post/{Id:int}"
@using MyBlog.BlazorApp.Pages.Summarizations

<div class="row">
    <div class="col-2 px-2 mb-2 rounded">
        <NavLink href="@($"user/{_post.AuthorsName}")" class="btn-link-dark">
            <MyBlog.BlazorApp.Pages.Users.UserHead Username="@(_post.AuthorsName)"/>
        </NavLink>
    </div>
</div>
<div class="row">
    <div class="col-8">

        <h4 class="post-header p-2 my-2 rounded">@_post.Title</h4>

        <div class="px-3">
            <p class="post-text px-2 py-2 my-2 rounded">@_post.Text</p>
        </div>
        <div class="col-6 px-3">

            @if (_post.SumIds != null && _post.SumIds.Any())
            {
                @foreach (var sumId in _post.SumIds)
                {
                    <div class="mb-3">

                        <NavLink href="@($"sum/{sumId}")" class="btn-link-dark">
                            <SummarizationCard SumId="@(sumId)"/>
                        </NavLink>
                    </div>
                }
            }
        </div>
        <button class="btn btn-outline-primary" @onclick="AddSumAsync">Добавить суммаризацию</button>

        @if (IsRendered)
        {
            <CascadingValue Value="@(IsAuth)" Name="IsAuth">
                <CascadingValue Value="@(Username)" Name="Username">
                    <MyBlog.BlazorApp.Pages.Comments.Comments PostId="@Id"/>
                </CascadingValue>
            </CascadingValue>
        }
    </div>
    <div class="col-2 py-2">
        @if (IsAuth && !IsAuthor && IsSaved)
        {
            <span class="text-success me-2">Вы подписаны на проект</span>
            <button class="btn btn-outline-danger" @onclick="UnsavePostAsync">Отписаться от проекта</button>
        }
        @if (IsAuth && !IsAuthor && !IsSaved)
        {
            <button class="btn btn-outline-primary" @onclick="SavePostAsync">Подписаться на проект</button>
        }
        @if (IsAuth && IsAuthor)
        {
            <button class="btn btn-outline-primary me-2" @onclick="EditPostAsync">Редактировать проект</button>
            <br/>
            <button class="btn btn-outline-danger my-3" @onclick="@(() => ShowDelPop = true)">Удалить проект</button>
        }
    </div>
    <div class="col-2 py-2">
        <ProjectSubs PostId="@Id"/>
    </div>
</div>

@if (ShowDelPop)
{
    <!-- This is the popup to delete post -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete post?</h3>
                    <!-- Button to close the popup -->
                    <button class="close btn btn-outline-danger"
                            @onclick="@(() => ShowDelPop = false)">
                        X
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post?</p>
                    <button class="btn btn-outline-primary"
                            @onclick="DeletePostAsync">
                        Yes
                    </button>
                    <button class="btn btn-outline-danger"
                            @onclick="@(() => ShowDelPop = false)">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

}
