@page "/post/{Id:int}"

<div class="col-2 p-1 mb-2 rounded my-grad-blue">
    <NavLink href="@($"user/{_post.AuthorsName}")">
        <MyBlog.BlazorApp.Pages.Users.UserHead Username="@(_post.AuthorsName)"/>
    </NavLink>
</div>
@if (IsAuth && !IsAuthor && IsSaved)
{
    <span class="text-success me-2">Saved post</span>
    <button class="btn btn-outline-danger" @onclick="UnsavePostAsync">Delete from saved</button>
}
@if (IsAuth && !IsAuthor && !IsSaved)
{
    <button class="btn btn-outline-primary" @onclick="SavePostAsync">Save post</button>
}
@if (IsAuth && IsAuthor)
{
    <button class="btn btn-outline-primary me-2" @onclick="EditPostAsync">Edit</button>
    <button class="btn btn-outline-danger" @onclick="@(() => ShowDelPop = true)">Delete</button>
}
<h4 class="post-header p-2 my-2 col-8 rounded">@_post.Title</h4>

<div class="col-8">
    <p class="post-text p-2 my-2 rounded">@_post.Text</p>

    <button class="btn btn-outline-primary" @onclick="AddSumAsync">Добавить суммаризацию</button>
</div>

@if (IsRendered)
{
    <CascadingValue Value="@(IsAuth)" Name="IsAuth">
        <CascadingValue Value="@(Username)" Name="Username">
            <MyBlog.BlazorApp.Pages.Comments.Comments PostId="@Id"/>
        </CascadingValue>
    </CascadingValue>
}

@if (ShowDelPop)
{
    <!-- This is the popup to delete post -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete post?</h3>
                    <!-- Button to close the popup -->
                    <button class="close btn btn-outline-danger"
                            @onclick="@(() => ShowDelPop = false)">
                        X
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post?</p>
                    <button class="btn btn-outline-primary"
                            @onclick="DeletePostAsync">
                        Yes
                    </button>
                    <button class="btn btn-outline-danger"
                            @onclick="@(() => ShowDelPop = false)">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

}
