@page "/sum/{Id:int}"

<div class="row">
    <div class="col-2 px-2 mb-2 rounded">
        <NavLink href="@($"user/{_sum.CreatedBy}")" class="btn-link-dark">
            <MyBlog.BlazorApp.Pages.Users.UserHead Username="@(_sum.CreatedBy)"/>
        </NavLink>
    </div>
</div>
<div class="row">
    <div class="col-8">
        @if (_sum.IsFile)
        {
            <h4 class="post-header p-2 my-2 rounded">Суммаризация файла</h4>
        }
        else
        {
            <h4 class="post-header p-2 my-2 rounded">Суммаризация текста</h4>
        }

        <label class="py-2 fw-light fs-6">Дата создания: @_sum.CreatedAt</label>

        @if (_sum.IsFile)
        {
            @if (_sum.InputFileName != null)
            {
                <div class="row">
                    <div class="col-5">
                        <label class="py-2 fw-bold fs-3">Исходный файл:</label>
                    </div>
                    <div class="col-6 py-2">
                        <button class="p-2 me-2 mb-1 bg-primary text-white rounded border-0"
                                @onclick="DownloadInputSummarization"><span class="oi oi-document"
                                                                            aria-hidden="true">@_sum.InputFileName</span>
                        </button>
                    </div>
                </div>
            }

            @if (_sum.OutputFileName != null)
            {
                <div class="row">
                    <div class="col-5">
                        <label class="py-2 fw-bold fs-3">Результат:</label>
                    </div>
                    <div class="col-6 py-2">
                        <button class="p-2 mb-1 bg-success text-white rounded border-0"
                                @onclick="DownloadOutputSummarization">
                    <span class="oi oi-document"
                          aria-hidden="true">@_sum.OutputFileName</span>
                        </button>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-5">
                <label class="py-2 fw-bold fs-3">Исходный текст:</label>
            </div>
            <div class="px-3">
                <p class="post-text px-2 py-2 my-2 rounded">@_sum.InputText</p>
            </div>
            <div class="col-5">
                <label class="py-2 fw-bold fs-3">Суммаризация:</label>
            </div>
            <div class="px-3">
                <p class="post-text px-2 py-2 my-2 rounded">@_sum.OutputText</p>
            </div>
        }

    </div>
    <div class="col-2 py-2">
        <button class="btn btn-outline-primary me-2" @onclick="EditPostAsync">Редактировать суммаризацию</button>
        <br/>
        <button class="btn btn-outline-danger my-3" @onclick="@(() => ShowDelPop = true)">Удалить суммаризацию</button>
    </div>
</div>


@if (IsRendered)
{
    <CascadingValue Value="@(IsAuth)" Name="IsAuth">
        <CascadingValue Value="@(Username)" Name="Username">
            <MyBlog.BlazorApp.Pages.Comments.Comments PostId="@Id"/>
        </CascadingValue>
    </CascadingValue>
}

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

@code {

}
