@page "/user/{Username?}"

<div class="row">
    <div class="col-9">
        <div class="p-3 mb-2 rounded my-grad-blue">
            <h3>@Username</h3>
            @if (_userVm.isAdmin)
            {
                <h5 class="text-danger">Admin</h5>
            }
            <img src="@(_userVm.AvatarSrc)" class="rounded" /> <br />

            @if (IsAuth)
            {
                @if (IsAdmin && !IsCurrentUser)
                {
                    @if (!IsBlocked)
                    {
                        <button class="btn btn-outline-danger me-2 my-2" @onclick="@OnToggleBlock">Block</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success me-2 my-2" @onclick="@OnToggleBlock">Unblock</button>
                    }

                    @if (!_userVm.isAdmin)
                    {
                        <button class="btn btn-outline-danger my-2" @onclick="@OnToggleGiveAdmin">Give admin</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success my-2" @onclick="@OnToggleGiveAdmin">Delete admin</button>
                    }
                }

                @if (!IsBlocked && (IsCurrentUser || IsAdmin))
                {
                    <div class="mb-2">
                        <a href="upload-avatar">Изменить аватар</a>
                    </div>

                    @if (!IsEditToggled)
                    {
                        <p>
                            Статус пользователя: @_userVm.AboutMyself
                            <button class="btn btn-info mx-2" @onclick="@OnToggleEdit">Изменить</button>
                        </p>
                    }
                    else
                    {
                        <InputText @bind-Value="_userVm.AboutMyself" />
                        <button class="btn btn-success" @onclick="@OnToggleEdit">Ok</button>
                        <br />
                    }
                }
                @if (!IsBlocked && (!IsCurrentUser || IsAdmin))
                {
                    if (IsFollowed)
                    {
                        <p class="green-light">Вы подписаны</p>
                        <button class="btn btn-danger" @onclick="@OnFollowToggle">Отписаться</button>
                    }
                    else
                    {
                        <button class="btn btn-success" @onclick="@OnFollowToggle">Подписаться</button>
                    }
                    if (IsReader)
                    {
                        <p class="blue-light">Ваш подписчик</p>
                    }
                }
            }
        </div>
        @if (!IsBlocked)
        {
            @if (IsAuth && IsCurrentUser)
            {
                <div class="mb-2">
                    <button class="btn btn-outline-success" @onclick="NavToProjCreateAsync">Создать новый проект</button>
                </div>
            }
            <div>
                <button class="btn btn-outline-primary me-2" @onclick="@(() => IsSaved=false)">Проекты пользователя</button>
                <button class="btn btn-outline-primary" @onclick="@(() => IsSaved=true)">Подписки пользователя</button>
            </div>
            <div>
                <CascadingValue Value="@Username" Name="Username">
                    <CascadingValue Value="@IsSaved" Name="IsSaved">
                        <MyBlog.BlazorApp.Pages.Posts.UserPosts />
                    </CascadingValue>
                </CascadingValue>
            </div>
        }
    </div>
    @if (!IsBlocked)
    {
        <div class="col-3">

            <CascadingValue Value="@Username" Name="Username">
                <CascadingValue Value="@yes" Name="IsReaders">
                    <ReadersOrFollowed @ref="childReaders" />
                </CascadingValue>
            </CascadingValue>

            <CascadingValue Value="@Username" Name="Username">
                <CascadingValue Value="@yes" Name="IsFollowedUsers">
                    <ReadersOrFollowed />
                </CascadingValue>
            </CascadingValue>
        </div>
    }
</div>


@code {
    bool yes = true;
}
