@using MyBlog.Web.ViewModels.Post
@model IList<PostViewModel>
@{
}
<input type="hidden" value="@ViewBag.IsSavedPosts" id="IsSavedPostsHidden" />
@if (ViewBag.IsSavedPosts < 1)
{
    <h3>My posts:</h3>
}
else
{
    <h3>My saved posts:</h3>
}

@if (Model.Count() > 0)
{
    <input type="hidden" value="@ViewBag.CurrentPage" id="currentPageHidden" />
    <div class="my-1">
        Current Page: @ViewBag.CurrentPage / @ViewBag.PageCount
        @if ((int)ViewBag.CurrentPage > 1)
        {
            <button id="prevPageForUserPostsBtn" class="btn btn-primary" data-next-page="@((int)ViewBag.CurrentPage - 1)">Previous</button>
        }
        @if ((int)ViewBag.CurrentPage < (int)ViewBag.PageCount)
        {
            <button id="nextPageForUserPostsBtn" class="btn btn-primary" data-next-page="@((int)ViewBag.CurrentPage + 1)">Next</button>
        }
    </div>
    <div id="myMasonry" class="row" data-masonry='{"percentPosition": true }'>
        @foreach (var p in Model)
        {
            <div id="cardDiv-@p.Id" class="col-md-6 mb-3">
                @await Html.PartialAsync("_Card", p)
            </div>

        }
    </div>
}
else
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="my-4">
                Not found.
            </p>
        </blockquote>
    </figure>
}



<!-- Modal -->
<div class="modal fade" id="usersPostsModal" tabindex="-1" aria-labelledby="usersPostsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="openPost">
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    $('.modal').on('hidden.bs.modal', function (e) {
        $('#myMasonry').masonry();
        console.log('masonry')
    })
</script>